{% extends 'base.html' %}
{% block content %}
    <h1>Bonjour {{request.user}}, voici votre flux</h1>
    <div class="button-nav">
        <button type="button" class="btn btn-light btn-lg"><a href="{% url 'create-ticket' %}">Demander une critique</a></button>
        <button type="button" class="btn btn-light btn-lg" id="create-review"><a href="{% url 'create-reviewticket' %}">Créer une critique</a></button>
    </div>
    {% for ticket in tickets %}
    <div class="item">
        <p>{{ ticket.user }} a demandé une critique</p>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
            <p><a href="{% url 'edit-ticket' ticket.id %}">Modifier le ticket</a> {{ ticket.time_created}}
        <a href="{% url 'create-review' ticket.id %}">Créer une critique</a></p>
    </div>
    {% endfor %}
    {% for review in reviews%}
    <div class="item">
        <p>{{ review.user }} a publié une critique</p>
        <h3>{{review.headline}} -- {{ review.rating }}*</h3>
        <p>{{review.body}}</p>
        <div class="item">
            <p>Ticket -- {{ review.ticket.user }}</p>
            <h3>{{ review.ticket.title }}</h3>
            <p>{{ review.ticket.description }}</p>
            <p>{{review.ticket.time_created}}</p>
        </div>
        <div><a href="{% url 'edit-review' review.id %}">Modifier la critique</a></div>
    </div>
    {% endfor %}
{% endblock content %}