{% extends 'base.html' %}
{% block content %}
    <h1>Vos posts</h1>
    {% for ticket in tickets %}
    <div class="item">
        <p>{{ ticket.user }} a demandé une critique</p>
        <h2>{{ ticket.title }}</h2>
        <p>{{ ticket.description }}</p>
        <p><a href="{% url 'edit-ticket' ticket.id %}">Modifier le ticket</a> {{ ticket.time_created}}
        <a href="{% url 'create-review' ticket.id %}">Créer une critique</a></p>
    </div>
    {% endfor %}
    {% for review in reviews%}
        <div class="item">
            <p>{{ review.user }} a publié une critique</p>
            <h3>{{review.headline}} -- {{ review.rating }}*</h3>
            <p>{{review.body}}</p>
        <div class="item">
            <p>Ticket -- {{ review.ticket.user }}</p>
            <h3>{{ review.ticket.title }}</h3>
            <p>{{ review.ticket.description }}</p>
            <p>{{review.ticket.time_created}}</p>
        </div>
        </div>
    {% endfor %}
{% endblock content %}