{% extends 'base.html' %}
{% block content %}
    <h1>Vos posts</h1>
    {% for ticket in tickets %}
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    {% if request.user == ticket.user %}
                        <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">Vous avez demandé une revue</h5>
                    {% else %}
                        <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">{{ ticket.user }} a publié une revue</h5>
                    {% endif %}
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Objet à revoir : {{ ticket.title }}</li>
                        <li class="list-group-item">{{ticket.description}}</li>
                    </ul>
                    {% if request.user == ticket.user %}
                        <p><a href="{% url 'edit-ticket' ticket.id %}" class="card-link">Modifier votre ticket</a>
                    {% endif %}
                    {% if item not in tickets_reviewed %}
                        <a href="{% url 'create-review' ticket.id %}" class="card-link">Créer une revue</a></p>
                    {% else %}
                        {{ item.review.headline}}
                        <p class="card-text" style="font-size: 80%;">Ce ticket a déjà reçu une réponse</p>
                    {% endif %}
                    <p class="card-text" style="font-size : 75%;">{{ticket.time_created}}</p>
                </div>
            </div>
    {% endfor %}
    {% for review in reviews%}
        <div class="card" style="width: 30rem; margin-top:40px;">
            <div class="card-body">
                {% if request.user == review.user %}
                    <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">Vous avez publié une revue</h5>
                {% else %}
                    <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">{{ review.user }} a publié une revue</h5>
                {% endif %}
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Revue de : {{review.ticket.title}}</li>
                    <li class="list-group-item">Intitulé : {{review.headline}}</li>
                    {%if review.rating == 1 %}
                        <li class="list-group-item"> <i class="fa-solid fa-star"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i></li>
                    {% elif review.rating == 2 %}
                        <li class="list-group-item"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i></i></li>
                    {% elif review.rating == 3 %}
                        <li class="list-group-item"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> <i class="far fa-star py-2 px-1 rate-popover"></i></li>
                    {% elif review.rating == 4 %}
                        <li class="list-group-item"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="far fa-star py-2 px-1 rate-popover"></i> </li>
                    {% else %}
                        <li class="list-group-item"> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i></li>
                    {% endif %}
                    <li class="list-group-item">Critique : {{review.body}}</li>
                </ul>
                {% if request.user == review.user %}
                        <a href="{% url 'edit-review' review.id %}" class="card-link">Modifier votre revue</a>
                {% endif %}
                <p class="card-text" style="font-size : 75%;">{{review.time_created}}</p>
            </div>
                <div class="card" style="width: 25rem;">
                    <div class="card-body">
                        {% if request.user == review.ticket.user  %}
                            <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">Vous avez demandé une revue</h5>
                        {% else %}
                            <h5 class="card-title" style="text-align: center; color:rgb(59, 112, 161);">{{ review.ticket.user  }} a demandé une revue</h5>
                        {% endif %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Objet à revoir : {{ review.ticket.title }}</li>
                            <li class="list-group-item">{{ review.ticket.description }}</li>
                        </ul>
                        <p class="card-text" style="font-size : 75%;">{{review.ticket.time_created}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
{% endblock content %}