<html>
    <head>
        <title>LITReview</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'reviews/app.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'home' %}">LITReview</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"> Flux <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'follow-user' %}">Abonnements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user-content' %}">Mon espace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'password_change' %}">Modifier son mot de passe</a>
            </li>
            {% if user.is_authenticated%}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Se déconnecter</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    <body>
        <div class="main" style="display: flex; flex-direction:column; margin-top: 40px; align-items: center;">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>