html {
    font-family: Arial;
}
/* .h1 {
    display: flex;
    align-items: center;
    color:red;
} */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.main > h1{
    color:rgb(59, 112, 161);
}

.maclasse{
    color:rgb(59, 112, 161);
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 0px;
}

.reviewform{
    color:rgb(59, 112, 161);
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
}


.item {
    display:flex;
    flex-direction:column;
    align-items: center;
    border: 1px solid;
    width : 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.a:visited {
    color:white;
}