{% extends 'base.html' %}
{% block content %}
<div  class="center-block" id="login" style="width: 40%;">
    <form class="form-horizontal form" name="LoginForm"  method="post">
    {% csrf_token %}
    {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <div class="control-group">
        <br>
        <br>
        <br>
        <label class="control-label" for="username">Nom d'utilisateur</label>
        <div class="controls">
            <input class="form-control" type="text" id="username" name="username"  placeholder="Username">
        </div>
    </div>
        <br>
    <div class="control-group">
        <label class="control-label" for="password">Mot de passe</label>
        <div class="controls">
            <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        </div>
  </div><br>
  <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Se connecter</button>
            <br>
            <br>
            <br>
            <p>Pas encore membre ? <a href="{% url 'signup' %}"> S'inscrire</a></p>
        </div>
    </div>
    </form>
</div>
{% endblock content %}